@import 'src/assets/base';

.bottomMenuWrap {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -$base-horizontal-padding;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: $dark-gray-100;
}

