@use 'sass:math';

.gameTopBar {
	display: flex;
	height: 50px;
	margin-top: math.div($base-vertical-padding, 2);
	align-items: center;
	justify-content: space-between;
}

.gameMenu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.gameState {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.gameScore {
	display: flex;
	align-items: center;
	margin-right: math.div($base-horizontal-padding, 3);
	font-family: $font-default-family;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
}
.gameState svg {
	margin-right: math.div($base-horizontal-padding, 3);
}
.quit {
	color: $error-light;
}
.topMenuItem {
	cursor: pointer;
	padding: 0 math.div($base-horizontal-padding, 3);
	font-size: 32px;
}

.gameMainWrap {
	@extend %for-wrap;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.modalStartWrapper {
	position: absolute;
	top: calc(50% - 128px);
	left: calc(50% - 350px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalStart {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 50px;
	font-family: $font-heading-family;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 108px;
}

.buttonsConfig {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: $font-default-family;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	width: 600px;
}
.configTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: $base-transition;
	&:hover {
		color: $accent-100;
		transition: $base-transition;
	}
}

.modalScore {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	font-family: $font-default-family;
	font-style: $font-heading-weight;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	width: 600px;
}
.gameCanvas {
	border: 1px solid white;
	box-sizing: border-box;
}
