@import 'oldCode/src../../../assets/base';

.forumsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 30px;
  & tr > td {
    padding: $base-vertical-padding/2 $base-horizontal-padding/2;
    background: $white-100;
    color: $dark-gray-100
  }
  & tr > td:last-child {
    margin-right: 0;
  }
  & tr > th {
    color: $white-100;
    text-align: left;
    font-weight: $base-font-weight;
  }
  & tr > th:last-child {
    margin-right: 0;
  }
}

.forumTitleHeader {
  width: 78%;
}

.forumTopicsHeader {
  width: 10%;
}

.forumCommentsHeader {
  width: 10%;
}


