@import '../../../assets/base';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.errors {
  color: $error-light;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
