@import 'src/assets/base';

form {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: 0 0 $form-margin-vertical;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.errors {
  color: $error-light;
  font-size: $base-font-size;
  line-height: $base-line-height;
  width: 100%;
}
