@import 'src/assets/base';

.inputWrap {
    display: flex;
    width: 100%;
    position: relative;
    margin: $form-margin-vertical $form-margin-horizontal;
    & label {
        position: absolute;
        left: 15px;
        top: 10px;
        color: $dark-gray-100;
        pointer-events: none;
        transition: transform $base-transition, font-size $base-transition;
    }
    & input:focus ~ label,
    & input:valid ~ label,
    & input:placeholder-shown ~ label {
        transform: translateY(-50%);
        font-size: 0.65em;
        color: $accent-60;
    }
    &.error input,
    &.error input:focus {
        box-shadow: $form-box-error-shadow;
    }
    &.error input ~ label {
        transform: translateY(-50%);
        font-size: 0.65em;
        color: $error-dark;
    }
}

input[type='email'],
input[type='password'],
input[type='text'] {
    font-family: $form-font-family;
    border: 0 solid;
    background: $form-background-gradient;
    color: $dark-gray-100;
    line-height: $base-line-height;
    padding: $form-input-padding;
    width: 100%;
    transition: box-shadow $base-transition;
    &:focus {
        color: $dark-gray-100;
        outline: 0;
        box-shadow: $form-box-shadow;
    }
    &:disabled {
        color: $dark-gray-45;
    }
}
