@import 'src/assets/base';

.menuWrap {
    @extend %for-wrap;
    width: 67vw;
    background: $dark-gray-75;
    border: 3px solid $dark-gray-100;
    margin: 3em auto;
    padding: 1em;
}

.menuItem {
    @extend %for-headings;
    width: 100%;
    font-family: $font-heading-family;
    font-size: $h3-font-size;
    list-style: none;
    @include normalize-line-height($h3-font-size, $min-line-padding: 2px);
    & a {
        color: $white-100;
    }
    & a:hover {
        color: $white-100;
        text-shadow: $form-box-shadow;
    }
}
