@import 'src/assets/base';

.gameTopBar {
  display: flex;
  width: 1285px;
  height: 50px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-around;
}

.menuItem {
  cursor: pointer;
}