@import url('https://fonts.cdnfonts.com/css/bender?styles=24998,24996');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

$font-default-family: 'Play', sans-serif;
$font-heading-family: 'Bender', sans-serif;

$font-default-weight: 400;
$font-default-bold-weight: 700;
$font-heading-weight: 700;
$font-heading-bold-weight: 900;
